DEBUG=True
SECRET_KEY=tkjLLuTYmSJXs7CEL9gQdO7Mh1Duczl7hWiKitBpHQh1tSMXd02l8pE9hUQTMlQX4C4

DB_NAME=msg_backend
DB_USER=y
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
